# ***** MACROS *****

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
  PAUSE_BASE
  _TOOLHEAD_PARK_PAUSE_CANCEL

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read extrude from  _TOOLHEAD_PARK_PAUSE_CANCEL  macro #####
  {% set extrude = printer['gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL'].extrude %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  ## Move head and retract only if not already in the pause state and park set to true
  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
variable_extrude: 1.0
gcode:
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  {% set z_park_delta = 2.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - z_park_delta) %}
    {% set z_safe = z_park_delta %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
    {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

[gcode_macro M190]
rename_existing: M191
variable_tolerance: 1.0
gcode:
    {% set S = params.S|default(-1)|float %}
    {% set R = params.S|default(-1)|float %}
    {% if S != '-1' %}
        M140 S{S}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={S|float - tolerance}
    {% elif R != '-1' %}
        M191 S{R}
    {% else %}
        M140 S0
    {% endif %}
 
[gcode_macro M300]
gcode:
    {% set S = params.S|default(2000)|int %} ; S sets the tone frequency
    {% set P = params.P|default(150)|int %} ; P sets the tone duration
    {% set L = 0.5 %} ; L varies the PWM on time, close to 0 or 1 the tone gets a bit quieter. 0.5 is a symmetric waveform
    {% if S <= 0 %} ; dont divide through zero
    {% set F = 1 %}
    {% set L = 0 %}
    {% elif S >= 10000 %} ;max frequency set to 10kHz
    {% set F = 0 %}
    {% else %}
    {% set F = 1/S %} ;convert frequency to seconds 
    {% endif %}
    SET_PIN PIN=BEEPER_Pin VALUE={L} CYCLE_TIME={F} ;Play tone
    G4 P{P} ;tone duration
    SET_PIN PIN=BEEPER_Pin VALUE=0
 
[pause_resume]
# This section is required, even if empty, to enable PAUSE, RESUME, CLEAR_PAUSE, and CANCEL_PRINT commands. Used in M600 Macro and Start GCODE.
 
[gcode_macro M600]
gcode:
    SET_IDLE_TIMEOUT TIMEOUT=3600
    PAUSE_MACRO
    UNLOAD_FILAMENT
    #SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0 ;Disable Extruder Stepper to allow new filament to be inserted and purged manually.
 
[gcode_macro PAUSE_MACRO]
gcode:
    M300 ;Beep
    PAUSE ;This also saves GCODE state which is restored on RESUME.
    G10 ;Retract
    PARK_MACRO
 
[gcode_macro UNLOAD_FILAMENT]
gcode:
    G91 ;Relative positioning
    M117 Unloading
    M73 P10
    G1 E5.0 F1200
    M400
    M73 P20
    G1 E3.0 F1600
    M400
    M73 P30
    G1 E-10 F500
    M400
    M73 P50
    G1 E-90 F1000
    M400
    M73 P90
    G90 ;Relative positioning
    M400
    M300 ;Beep
    M117 Finished
    M73 P100
 
[gcode_macro PARK_MACRO]
gcode:
    {% set X = params.X|default(0)|float %}
    {% set Y = params.Y|default(200)|float %}
    {% set Z = params.Z|default(30)|float %}
    G91 ; Relative positioning so we can move Z relative to top of print.
    G0 Z{Z} F1000
    G90 ; Back to absolute positioning.
    G0 X{X} Y{Y} F3000
    M300 ;Beep
 
[gcode_macro PURGE]
gcode:
    G91
    G1 E50 F250
    G90
    G10
 
[gcode_macro PURGE_SLOW]
gcode:
    G91
    G1 E50 F100
    G90
    G10
 
[gcode_macro LOAD_FILAMENT]
gcode:
    M73 P40
    G91
    G1 E80 F750
    M400
    M73 P50
    G4 P900
    G1 E20 F100
    M400
    M73 P100
    G90
    G10
    M117 Loaded
 
# [gcode_macro BED_MESH_CALIBRATE_AND_SAVE]
# gcode:
#     G28 ; Home.
#     BED_MESH_CALIBRATE
#     G90 ; Absolute positioning.
#     G1 X0 Y0 Z5 F4000 ; Move to safe position.
#     M400 ; Wait until finished.
#     M300 ; Beep.
#     SAVE_CONFIG
 