###################################################################
# Script Name	 : "PRINTER.CFG"                                                                                         
# Description	 : Printer config file for ZeroG Mercury One.1 conversion for the Ender 5 Pro.
# Hotend         : Rapido HF
# Extruder       : Orbiter v2.0
# Mainboard      : BTT Octopus v1.1
# Mods           : Klicky Probe                                                                                           
# Author       	 : Codemanus                                              
# Date           : 04/27/2023                                     
###################################################################

# This file contains common pin mappings for the BigTreeTech Octopus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.


# Machine  directory
[include machine/*.cfg]