###################################################################
# Script Name	 : "PRINTER.CFG"                                                                                         
# Description	 : Printer config file for ZeroG Mercury One.1 conversion for the Ender 5 Pro.
# Hotend         : Rapido HF
# Extruder       : Orbiter v2.0
# Mainboard      : BTT Octopus v1.1
# Mods           : Klicky Probe                                                                                           
# Author       	 : Codemanus                                              
# Date           : 04/27/2023                                     
###################################################################

# This file contains common pin mappings for the BigTreeTech Octopus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.


# Machine  directory
[include machine/*.cfg]

[probe]
pin: EBBCan: PB8
x_offset: -2
y_offset: 28.75
#z_offset: 0
speed: 5 ### I have found it accurate on my setup running as fast as 10, at 16 the accuracy started to degrade ###
samples:1 ### Klicky is accurate enough for a single sample, the remaining lines are not needed if you run a single sample ###
samples_result: median
sample_retract_dist: 1.0
samples_tolerance: 0.02
samples_tolerance_retries: 3

[extruder]
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982

[heater_bed]
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 9.145
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.457
#*# pid_ki = 2.611
#*# pid_kd = 62.053
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 74.899
#*# pid_ki = 1.856
#*# pid_kd = 755.541
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 78.6
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 77.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.070000, 0.140000, 0.108750
#*# 	  -0.056250, -0.001250, -0.036250
#*# 	  -0.208750, -0.173750, -0.231250
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = direct
#*# tension = 0.2
#*# min_x = 59.25
#*# max_x = 172.11
#*# min_y = 74.06
#*# max_y = 157.46
